

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

 @media (min-width: 768px) {
  .container {
    width: 60%;
  }

 }
 @media (min-width: 992px) {
  .container {
    width: 55%;
  }

 }

 @media (min-width: 1200px) {
  .container {
    width: 50%;
  }
  }
 @media (min-width: 1600px) {
  .container {
    width: 47%;
  }
  }

  @media (min-width: 1000px) {
    .wrapper {
      width: 1000px;
    }
  }

.wrapper {
  display: block;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  border: 1px solid rgb(233, 232, 232);
  border-top: none;
  border-bottom: none;
  box-shadow: 1px 2px 8px -2px rgba(0,0,0,0.20);
}


img {
  object-fit: cover;
  max-width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.20);
}

footer {
  width: 100%;
  background: rgb(248, 248, 248);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(151, 150, 150);
}
footer p {
  transform: translateY(30%);
}

h4 {
  font-size: 16px;
}

.pagination > .active > a
{
    color: white;
    background-color: #988caf !Important;
    border: solid 1px #988caf !Important;
}

.pagination > li > a
{
    background-color: white;
    color: #8e8c91;
}